.App {
  text-align: center;
}
.App .userResponse{
    text-align: center;
    /*margin-left: 10em;*/
    /*margin-right: 10em;*/
}
.App .requestedOutput{
  text-align: left;
  margin-left: 8.75em;
}

.App .AppHeader{
  margin-left: 20em;
  margin-right: 20em;
  border-style: double;
  border-color: black;
  border-width: .6250em;
  background-color: #Dcf1fa;
}
.App .Spacer {
  margin: 2.5em;
}

form label{
  font-weight: bold;
}